# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
asgiref=3.7.2=pypi_0
ca-certificates=2023.08.22=hecd8cb5_0
django=4.2.5=pypi_0
glfw=2.6.2=pypi_0
image=1.5.33=pypi_0
libcxx=14.0.6=h9765a3e_0
libffi=3.4.4=hecd8cb5_0
ncurses=6.4=hcec6c5f_0
numpy=1.26.0=pypi_0
openssl=3.0.11=hca72f7f_2
pillow=10.0.1=pypi_0
pip=23.2.1=py39hecd8cb5_0
pycodestyle=2.10.0=py39hecd8cb5_0
pyopengl=3.1.7=pypi_0
pyopengl-accelerate=3.1.7=pypi_0
python=3.9.18=h5ee71fb_0
readline=8.2=hca72f7f_0
setuptools=68.0.0=py39hecd8cb5_0
six=1.16.0=pypi_0
sqlite=3.41.2=h6c40b1e_0
sqlparse=0.4.4=pypi_0
tk=8.6.12=h5d9f67b_0
typing-extensions=4.8.0=pypi_0
tzdata=2023c=h04d1e81_0
wheel=0.38.4=py39hecd8cb5_0
xz=5.4.2=h6c40b1e_0
zlib=1.2.13=h4dc903c_0
